@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --app-primary: 255, 247, 212;
    --app-primary-dark: 20, 20, 20;
    --app-typography: 76, 61, 61;
  }
  .dark{
    --app-typography: 255, 255, 255;
  }
}
 
@layer base {
  body{
    background-color: rgba(var(--app-primary), 0.2);
  }
  body.dark{
    background-color: rgba(var(--app-primary-dark), 1);
  }
}